{% extends "base.html" %}
{% block title %} About  {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="bg-primary p-4 shadow-lg">
            <p>

                Ofejiro Agbaduta Prime is a software engineer, robotics engineer, and the creator of this calculator website. He studied mathematics at Ambrose Alli University and is very broad in the field of machine learning and computer vision. He is also a competent communicator and has a passion for teaching. <br>

                Ofejiro started working on this calculator website in his spare time while he was still a student. He wanted to create a calculator that was both easy to use and powerful. He also wanted to make sure that the calculator was accessible to everyone, regardless of their level of mathematical expertise. <br>

                In addition to his work on the calculator website, Ofejiro is also a passionate advocate for education. He believes that everyone should have access to quality education, regardless of their background. He is also a strong believer in the power of technology to improve education. <br>

                Ofejiro is a talented software engineer, a gifted communicator, and a passionate advocate for education. He is a valuable asset to the field of technology and education. <br>

                Here are some of the things that Ofejiro Agbaduta Prime has accomplished: <br>

                * He created a calculator website that is both easy to use and powerful. <br>
                * He made the calculator website accessible to everyone, regardless of their level of mathematical expertise. <br>
                * He is a passionate advocate for education.
                * He believes that everyone should have access to quality education, regardless of their background. <br>
                * He is a strong believer in the power of technology to improve education. <br>
                * He is a robotics engineer who has developed several robots that can perform a variety of tasks. <br>
                * He is also a machine learning expert who has developed several algorithms that can be used to solve a variety of problems. <br>
                * Ofejiro is a brilliant and versatile engineer who is making significant contributions to the fields of technology and education. <br>

                Ofejiro Agbaduta Prime is a rising star in the field of technology. He is a talented engineer with a passion for education. He is sure to make a significant impact on the world in the years to come.
            </p>
       </div>
    </div>
{% endblock %}
