{% extends "base.html" %}
{% block title %} algebra {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="bg-primary p-4 shadow-lg">
            <p>
                Algebra is a branch of mathematics that deals with the manipulation of symbols and the rules for manipulating these symbols in formulas. It is a unifying thread of almost all of mathematics. Elementary algebra deals with the manipulation of variables as if they were numbers and is therefore essential in all applications of mathematics.
                
                One example of an algebraic equation is the following:
                
                <br>
                
                x + 2 = 5
                
                <br>
                
                This equation states that the sum of x and 2 is equal to 5. This equation can be solved by subtracting 2 from both sides to get the following solution:
                
                <br>
                
                x = 3
                
                <br>
                
                Another example of an algebraic equation is the following:
                
                <br>
                
                x^2 - 5x + 6 = 0
                
                <br>
                
                This equation is called a quadratic equation. It can be solved using the quadratic formula to get the following solutions:
                
                <br>
                
                x = 3 or x = 2
                
                <br>
                
                Algebraic equations can be solved using a variety of methods, including the substitution method, the elimination method, and the quadratic formula. The method used to solve an algebraic equation depends on the type of equation and the desired solution.
                
                Here are some additional examples of algebraic equations:
                
                <br>
                
                * The equation for the area of a triangle is:
                
                <br>
                
                A = 1/2bh
                
                <br>
                
                where A is the area of the triangle, b is the base of the triangle, and h is the height of the triangle.
                
                * The equation for the volume of a cylinder is:
                
                <br>
                
                V = πr^2h
                
                <br>
                
                where V is the volume of the cylinder, π is a mathematical constant, r is the radius of the cylinder, and h is the height of the cylinder.
                
                * The equation for the speed of an object is:
                
                <br>
                
                v = d/t
                
                <br>
                
                where v is the speed of the object, d is the distance traveled by the object, and t is the time it takes the object to travel the distance.
                
                Algebra is used in a wide variety of applications, including physics, engineering, economics, and finance. It is a powerful tool for solving problems and making predictions.
            </p>
                
       </div>
    </div>
{% endblock %}
