{% extends "base.html" %}
{% block title %} Calculus {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="bg-primary p-4 shadow-lg">
            <p>
                A differential equation is an equation that contains one or more derivatives of an unknown function. The derivatives of the function define the rate of change of the function at a point. Differential equations are used in many fields, including physics, engineering, biology, and economics.
                
                One example of a differential equation is the following:
                
                <br>
                
                dy/dx = x
                
                <br>
                
                This equation states that the rate of change of the function y with respect to the variable x is equal to x. This equation can be solved using separation of variables to get the following solution:
                
                <br>
                
                y = x^2 + C
                
                <br>
                
                where C is an arbitrary constant.
                
                Another example of a differential equation is the following:
                
                <br>
                
                y'' + y = 0
                
                <br>
                
                This equation is called the harmonic oscillator equation. It describes the motion of a mass on a spring. The solution to this equation is given by the following formula:
                
                <br>
                
                y = A cos(t) + B sin(t)
                
                <br>
                
                where A and B are arbitrary constants.
                
                Differential equations can be solved using a variety of methods, including separation of variables, integrating factors, and power series solutions. The method used to solve a differential equation depends on the type of equation and the desired solution.
                
                Here are some additional examples of differential equations:
                
                <br>
                
                * The equation for the growth of a population is:
                
                <br>
                
                dN/dt = rN
                
                <br>
                
                where N is the population size, t is time, and r is the growth rate.
                
                * The equation for the motion of a falling object is:
                
                <br>
                
                m d^2x/dt^2 = -mg
                
                <br>
                
                where m is the mass of the object, g is the acceleration due to gravity, and x is the position of the object.
                
                * The equation for the flow of heat through a rod is:
                
                <br>
                
                k d^2T/dx^2 = -q
                
                <br>
                
                where k is the thermal conductivity of the rod, T is the temperature, and q is the heat flux.
                
                Differential equations are used in a wide variety of applications, including physics, engineering, biology, and economics. They are a powerful tool for modeling and predicting the behavior of systems.
            </p>
                
       </div>
    </div>
{% endblock %}
