{% extends "base.html" %}
{% block title %} probability {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="bg-primary p-4 shadow-lg">
            <p>
                Probability is a branch of mathematics that deals with the likelihood of events. It is expressed as a number in the range from 0 to 1, or, using percentage notation, in the range from 0% to 100%. The more likely it is that the event will occur, the higher its probability.
                
                One example of a probability problem is the following:
                
                <br>
                
                What is the probability of flipping a coin and getting heads?
                
                <br>
                
                There are two possible outcomes when flipping a coin: heads or tails. Since heads is one of the two possible outcomes, the probability of getting heads is 1/2 or 50%.
                
                Another example of a probability problem is the following:
                
                <br>
                
                What is the probability of rolling a 6 on a standard die?
                
                <br>
                
                There are 6 possible outcomes when rolling a die: 1, 2, 3, 4, 5, or 6. Since 6 is one of the possible outcomes, the probability of rolling a 6 is 1/6 or 16.67%.
                
                Probability is used in many different fields, including statistics, gambling, and risk assessment. It is a powerful tool for making predictions about the future.
            </p>
                
       </div>
    </div>
{% endblock %}
