{% extends "base.html" %}
{% block title %} statistics {% endblock %}
{% block body %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="bg-primary p-4 shadow-lg">
            <p>
                <p>
                    Statistics is the study of the collection, organization, analysis, interpretation, and presentation of data. It is a powerful tool that can be used to understand and make predictions about the world around us.
                    
                    Here are two examples of how statistics can be used:
                    
                    * A company might use statistics to track sales data and identify trends. This information could be used to make decisions about product development, marketing, and pricing.
                    * A government might use statistics to track population data and identify areas of need. This information could be used to allocate resources and develop policies to improve the lives of citizens.
                    
                    Statistics is a versatile tool that can be used in a wide variety of settings. It is a valuable skill for anyone who wants to understand the world around them and make informed decisions.
                    
                    Here are some additional examples of how statistics can be used:
                    
                    * In medicine, statistics can be used to track the effectiveness of treatments and identify new diseases.
                    * In finance, statistics can be used to track the performance of investments and identify risks.
                    * In sports, statistics can be used to track the performance of athletes and identify trends.
                    
                    Statistics is a powerful tool that can be used to understand and make predictions about the world around us. It is a valuable skill for anyone who wants to make informed decisions.
                </p>
                    
            </p>
       </div>
    </div>
{% endblock %}
